*.a
*.d
*.o
.cproject
.project
.~lock.TaskList.ods#

build
./**/build
./**/**/build
./**/**/**/build
sdkconfig
./*/sdkconfig
./*/*/sdkconfig
./*/*/*/sdkconfig
sdkconfig.old
./*/sdkconfig.old
./*/*/sdkconfig.old
./*/*/*/sdkconfig.old

